@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Merriweather:ital,wght@0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	color: #3d405b;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #f4f1de;
	padding: 1rem 0.5rem;
}

p,
a {
	color: #3d405b;
}

#svelte {
	display: flex;
	flex-direction: column;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
}
